<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Explore Wiki</title>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="../styles/home.css">
    </head>
    <body>
        <section id="intro-container">
            <div id="title">
                <h1>Explore Wiki</h1>
            </div>
            <div id="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisis magna etiam tempor orci eu lobortis elementum. Ipsum dolor sit amet consectetur adipiscing. Vitae nunc sed velit dignissim sodales ut. Pretium aenean pharetra magna ac placerat vestibulum lectus mauris.</p>
            </div>
        </section>
        <section id="link-container">
            <a href="#">Articles</a>
            <a href="#">Words</a>
        </section>

    </body>


</html>