html {
    font-family: 'Segoe UI';
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 144px 1fr;
}

header {
    display: grid;
    grid-template-rows: 80px 64px;
}

#main-area {
    display: grid;
    grid-template-areas: "sideinfo dragbar grapharea";    
    grid-template-columns: 1fr 2px 4fr;
}

#side-info {
    grid-area: sideinfo;
}

#graph-area {

    grid-area: grapharea
}

#drag-bar {
    background: rgb(91, 112, 131);
    grid-area: dragbar;
}

#drag-bar:hover {
    cursor: ew-resize;
}

header {
    border-bottom: 2px solid rgb(91, 112, 131);
}

#searchbar {
    display: flex;
    align-items: center;
    /* border-top: 1px solid rgb(91, 112, 131); */
}

#search-container {
    margin-left: 20px;
    height: 40px;
    width: 25rem;
    background-color: rgb(235, 238, 240);
    border: 1px solid rgb(235, 238, 240);
    border-radius: 25px;
}

#search-container:focus-within {
    border: 1px solid rgb(29, 68, 242);
    background-color: rgb(255, 255, 255);
}

input {
    background: none;
    border: none;
    outline: none;
    height: 20px;
    width: 25rem;
    font-size: 20px;
    margin-top: 9px;
    margin-left: 15px;
}

input::placeholder {
    color: rgb(91, 112, 131);
}



#navbar {
    display: grid;
    grid-template-areas: "splash navlinks";
    grid-template-columns: 300px 1fr;
    padding-left: 20px;
    align-items: center;
}

#splash {
    grid-area: splash;
    display: grid;
    grid-template-areas: "logo title";
    grid-template-columns: 75px 1fr;
    grid-column-gap: 15px;
    align-items: center;
}

#splash > img {
    grid-area: logo;
    height: 75px;
    width: 75px;
}

#splash > h1 {
    font-weight: 500;
}

#links-container {
    display: flex;
    flex-direction: row;
}

.nav-link {
    margin: 10px;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    transition: .1s;
}

.nav-link:hover {
    color: rgb(29, 68, 242);
}


#graph-area {
    height: 825px;
    border: 1px solid lightgray;
}

#side-info {
    max-height: 825px;
    padding-left: 20px;
    overflow-y: scroll;
}

#side-info > h1 {
    color:rgb(29, 68, 242);
}

#side-info > p {
    font-size: 18px;
}